
<%= form_with model: @user, url: user_registration_path, class: 'registration-main', local: true do |f| %>
 <h2>新規登録</h2>

  <%= render "devise/shared/error_messages", model: f.object %>

<div class="registration">
    <div class="registration-input">
      <div class="field">
        <div class='field-label'>
          <%= f.label :nickname %><br />
        </div>
          <div class='field-input'>
          <%= f.text_area :nickname, autofocus: true, autocomplete: "nickname" , placeholder:"登録名を入力ください（最大10文字）",size: "38"%>
        </div>
      </div>

      <div class="field">
        <div class='field-label'>
          <%= f.label :email %><br />
        </div>
          <div class='field-input'>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder:"ご自身のメールアドレスを入力ください",size: "50"%>
        </div>
      </div>

      <div class="field">
        <div class='field-label'>
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <%= "(英数字6文字以上)"%>
        </div>
          <% end %><br />
          <div class='field-input'>
          <%= f.password_field :password, autocomplete: "new-password" , placeholder:"英数字6文字以上のパスワードを入力ください",size: "50"%>
        </div>
      </div>

      <div class="field">
        <div class='field-label'>
          <%= f.label :password_confirmation %><br />
        </div>
          <div class='field-input'>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"先ほどのパスワードを入力ください" ,size: "50"%>
        </div>
      </div>

        <div class="actions">
          <%= f.submit "登録", class: 'button', data: { confirm: "【確認】下記のお客様登録を登録しますか？" }  %>
        </div>

        <div class="exit">
          <%= link_to "トップページに戻る", root_path,class: "top-page" %>
        </div>
    </div>
</div>

<% end %>

