<header class="header">

  <div class="header-top">
    <div class="title-name"><a href="/">
     <span class="fab fa-telegram"></span>冷蔵庫管理アプリ</a></div>

  <% if user_signed_in? %>
    <div class="user-name">
      <div class = "name">
        <%= "ユーザー名：#{current_user.nickname}さん"%>
      </div>
     <div class="login">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete ,class: "mypage"%>
     </div>
    </div>
    <% else %>
    <div class="signin">
        <%= link_to "新規登録", new_user_registration_path, class: "b post1" %>
        <%= link_to "ログイン", new_user_session_path, class: "b post2" %>
        <%= link_to 'ゲスト用', users_guest_sign_in_path, method: :post, class: "b post3"%>
    </div>
    <% end %>
  </div>

</header>