
<%# 食材の追加 %>

<div class="food-top">
 <div class="food-main">
   <h1>食材一覧</h1>
   <%=link_to 'トップページに戻る', root_path, class:"back-btn" %>

 <div class="food-contents">
   <% @items.each do |item|%>
      <% if item.user_id == current_user.id %>
        <div class="food-content">
          <%= "ユーザー名：#{item.user.nickname}さん"%><br>
          <%= "購入日：#{item.buy_day}"%><br>
          <%= "食材：#{item.category.name}"%>(<%= item.food.name%>)<br>
          <%= "サイズ：#{item.size.name}"%><br>
          <%= "賞味期限：#{item.sell_by}"%><br>
          <%= "メモ：#{item.memo}"%><br>

          <%= link_to '詳細', item_path(item.id), class:"btn show" %>
          <%= link_to '編集', edit_item_path(item.id), class:"btn edit" %>
          <%= link_to '処分', item_path(item.id), method: :delete, class:"btn destroy", data: { confirm: "#{item.buy_day}日に購入した#{item.food.name}を処分しますか？" } %><br>
        </div>
       <% end %>
   <% end %>
 </div>
</div>
