<%= render "devise/shared/header" %>

 <main>
   <div class="contents">
    <div class="topic">
     <% if user_signed_in? %>
      <div class="btn-topic">
         <%= link_to "コンセプト", concept_path, class: "topic1" %>
         <%= link_to "食材一覧", items_path, class: "topic2" %>
         <%= link_to "食材を追加する", new_item_path, class: "topic3" %>
      </div>
     <% else %>
      <div class="btn-topic">
         <%= link_to "コンセプト", concept_path, class: "topic1" %>
         <%= link_to "食材一覧", search_path, class: "topic2" %>
         <%= link_to "食材を追加する", new_item_path, class: "topic3" %>
      </div>
     <% end %>
    </div>
  </div>
<main>

<%= render "devise/shared/footer"%>