<div class="concept-main">
  <div class="concept-image">
    <div class="btn-concept">
      <p>コンセプト</p>
      <%= link_to "メッセージ","#example" , class: "concept1" %>
      <%= link_to "食品ロスの現状", "#food-loss", class: "concept2" %>
      <%= link_to "家庭内で出来ること", "#todo", class: "concept3" %>
      <%= link_to "最後に", "#message", class: "concept4" %><br><br><br>
      <%= link_to "トップページに戻る", root_path, class: "concept5" %>
    </div>
   </div>
  <div class="concept-sub">
     <div class="messages">
     <h4>メッセージ</h4>
    </div>
  <div id="example">
    <b><p>本サービスは、「<span>家庭内</span>の食品ロス」を減らすために考えられたものです。</p><br></b>
     <p>皆さんは、このような経験ありませんか？</p><br>
    <ul>
     <li>冷蔵庫の奥から、いつ購入したか分からない納豆1パック出てきた。</li>
     <li>安くなっていたから購入した野菜を、使わずに捨ててしまった。</li>
     <li>家にあると思っていた調味料が、無くて思うような料理が出来なかった。</li><br>
    </ul> 
     <p>このような状況が日常の日本では、食品ロスが社会問題になっています。<br>
        主な原因として、「食べ残し・傷んでいた・賞味/賞味期限切れ」などが挙げられています。</p><br>
  </div>

  <div id="food-loss">
    <h4>食品ロスの現状</h4>
     <p>食品ロスとは、食べられるのに捨てられている食品のことを指します。</p>
     <p>日本の食品ロスは年間約600万トンと推計され、<br>その半分が家庭からの食品ロス（約300万トン）になります。</p>
     <p>現在では各自治体で対策が講じられるなどと、<br>食品ロスの削減への取り組みが増加しています。</p>
     <p>私たち、一人ひとりも家庭内で出来ることに取り組んでみませんか？</p><br>
  </div>
    
  <div id="todo">
    <h4>家庭内で出来ること</h4>
     <ul>
      <li> 必要な量だけ買って食べる</li>
      <li> 作りすぎない</li>
      <li> 冷蔵庫内を知っておくこと</li><br>
     </ul>
   </div>

   <div id="message">
     <h4> 最後に</h4>
      <p>一人ひとりが生活を見直し、出来ることを1つずつ取り組んでいきましょう！</p>
      <p>食品を購入する前に、一度冷蔵庫の状況を確認してみませんか？</p><br>
   </div>
   
    <div class="back-top-page">
      <%=link_to 'トップページに戻る', root_path, class:"back-page" %>
    </div>
</div>

