<div class="concept-main">
  <div class="concept-image">
    <div class="btn-concept">
      <p>コンセプト</p>
        <%= link_to "メッセージ","#example" , class: "botton concept1" %>
        <%= link_to "食品ロスの現状", "#food-loss", class: "botton concept2" %>
        <%= link_to "家庭内で出来ること", "#todo", class: "botton concept3" %>
        <%= link_to "最後に", "#message", class: "botton concept4" %><br><br><br>
        <%= link_to "トップページに戻る", root_path, class: "botton concept5" %>
    </div>
   </div>
  <div class="concept-sub">
     <div class="messages">
     <h4>メッセージ</h4>
    </div>
    
  <div id="example">
    <b><p>本サービスは、「<span>家庭内</span>の食品ロス」を減らすために考えられたものです。</p><br></b>
     <p>皆さんは、このような経験ありませんか？</p><br>
    <ul>
     <li>冷蔵庫から、いつ購入したか分からない納豆1パック出てきた。</li>
     <li>安くなっていたから購入した野菜を、使わずに捨ててしまった。</li><br>
    </ul> 
     <p>このように食べられる食材が捨てられています。<br>
     　　上記の状況が日常の日本では、食品ロスが社会問題になっています。</p><br>
  </div>

  <div id="food-loss">
    <h4>食品ロスの現状</h4>
     <p>食品ロスとは、食べられるのに捨てられている食品のことを指します。</p>
     <p>日本の食品ロスの現状は年間約600万トンと推計されています。<br>
     　　その半分が家庭からの食品ロス（約300万トン）になります。</p><br>

     <p>家庭内の食品ロスの原因は3つあります。</p>
     <p>①食べ残し　②購入後の傷み　③賞味/賞味期限切れ<p><br>

     <p>現状を踏まえて、冷蔵庫の管理が重要だと考えました。<p><br>

     <p>家庭内の食品ロスを減らすために、家庭内で出来ることを紹介しています。</p>
  </div>
    
  <div id="todo">
    <h4>家庭内で出来ること</h4>
     <ul>
      <li> 必要な量だけ買って食べる</li>
      <li> 作りすぎない</li>
      <li> 冷蔵庫内を知っておくこと</li><br>
     </ul>
     <p>本アプリでは、上記の3点をお手伝いさせて頂きます。</p><br>
   </div>

   <div id="message">
     <h4> 最後に</h4>
      <p>家庭内の食品ロス300万トンがあれば、救える命はたくさんあったでしょう。</p>
      <p>一度冷蔵庫の状況を確認してから購入を検討しませんか？</p><br>
   </div>
   

    <div class="back-top-page">
      <%=link_to 'トップページに戻る', root_path, class:"back-page" %>
    </div>
</div>

